# ======================
# Python Environment
# ======================
env/
venv/
ENV/

# ======================
# Model Files (VERY IMPORTANT)
# ======================
*.pkl
*.bin

# ======================
# Python Cache
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Jupyter Notebook
# ======================
.ipynb_checkpoints/

# ======================
# Logs
# ======================
*.log

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/
Dataset/
*.ipynb