# ======================
# Python Environment
# ======================
env/
venv/
ENV/

# ======================
# Model Files
# ======================
*.pkl
*.bin

# Allow required model files
!phishing_xgb.pkl
!scaler.pkl
!label_encoder.pkl
!threshold.pkl
# (DO NOT allow w2v_model.bin — too large)

# ======================
# Python Cache
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Jupyter Notebook
# ======================
.ipynb_checkpoints/
*.ipynb

# ======================
# Logs
# ======================
*.log

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Dataset
# ======================
Dataset/